/* Font Family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* Geral */
body {
    background-color: #1E1E1E;
    font-family: 'Poppins', sans-serif;
}

/* Seções principais */
.PortifLio, .Projetos, .DesignGrFico, .IsacNepomucenoDeOliveira, .UmEntusiastaDoDesignEFotografiaEmConstanteAprendizadoMeuTrabalhoRefleteUmaAbordagemPrTicaDemonstrandoMeuCompromissoComACriatividadeBemVindoAoMeuMundoDoDesign {
    color: #F4D041;
}

.Projetos, .DesignGrFico {
    text-align: center;
    font-size: 193px;
    font-weight: 700;
}

.IsacNepomucenoDeOliveira, .MeuNomeIsacNepomucenoDeOliveira, .Ol {
    color: #EDEDED;
}

/* Projetos */
img {
    border-radius: 10px;
}

/* Texto explicativo */
.EstiloDescricao {
    text-align: justify;
    color: #EDEDED;
    font-size: 32px;
    font-weight: 700;
}

/* Rodapé */
.Rodape {
    text-align: center;
    color: #F4D041;
    font-size: 90px;
    font-weight: 700;
}
